<div class="create-account-container">
    <h2>But First: Create an Account</h2>
    <p *ngIf="error" class="error">{{ error }}</p>
    <p *ngIf="!playername || !password" class="error">Username and password cannot be empty</p>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="playername" name="username" required />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required />
      </mat-form-field>
  
      <button type="submit" style="display: block; margin: 0 auto;">Create Account</button>
      <h3>Or</h3>
      <button (click)="gotoVillage()" style="display: block; margin: 0 auto;">Continue With The Story</button>
    </form>
  

  </div>